/* src/App.css */
.App {
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #282c34;
  margin: 0;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2em;
  padding: 10px 15px;
  display: block;
}

nav a:hover {
  background-color: #61dafb;
  color: #282c34;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 10px 0;
  }

  nav a {
    font-size: 1em;
  }
}
